{% extends "Base.html" %}
{% load static %}
{% block css %}{% static "css/7.Add New Address.css" %}{% endblock css %}
{% block title %}Edit Review{% endblock title %}

{% block OtherContent %}
  <section style="background-color: whitesmoke;">
    <div class="container Ec-Address-section">

      <a href="{% url "Profile" %}"><img class="img-fluid Ec-UserProfile" src="{% static "images/user Profile.png" %}" alt=""></a>
      <small class=" px-1 g-font-Montserrat">Welcome,</small> 
      <h6 class="text-capitalize d-inline g-font-Montserrat">{{request.user.first_name}}</h6>
      
      <hr>
        
        <div class="row">
            <div class="col-md-3 border-end Ec-Desktop-Screen-Size-Profile-links">
                <a href="{% url "Profile" %}" class="btn w-100">Profile</a>
                <a href="{% url "MyAddress" %}" class="btn w-100">My Address</a>
                <a href="{% url "AddNewAddress" %}" class="btn w-100 mt-2 {{ButtonActive}}">Add new Address</a>
                <a href="{% url "MyOrders" %}" class="btn w-100 mt-2">My Orders</a>
                <a href="{% url "MyWishlist" %}" class="btn w-100 mt-2">My Wishlist</a>
                <a href="{% url "MyReviews" %}" class="btn w-100 mt-2">My Reviews</a>
                <a href="{% url "ChangePassword" %}" class="btn w-100 mt-2">Change Password</a>
            </div>
          
            <div class="col-9 Ec-Add-new-address-field">
                {% if messages %}
                    {% for msg in messages %}
                        <p class="alert alert-{{msg.tags}} text-center">{{msg}}</p>
                    {% endfor %}
                {% endif %}

                <h4>Edit address</h4>
                <hr>

                <form action="#" method="POST" novalidate>
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{form.Name}}
                                <small class="text-danger">{{form.Name.errors}}</small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                {{form.Mobile_Number}}
                                <small class="text-danger">{{form.Mobile_Number.errors}}</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{form.Pincode}}
                                <small class="text-danger">{{form.Pincode.errors}}</small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                {{form.City}}
                                <small class="text-danger">{{form.City.errors}}</small>
                            </div>
                        </div>
                    </div>

                    {{form.Address}}
                    <small class="text-danger">{{form.Address.errors}}</small>

                    <p class="mt-3">{{form.State}}</p>
                    <small class="text-danger">{{form.State.errors}}</small> 
                    

                    {{form.Landmark}}
                    <small class="text-danger">{{form.Landmark.errors}}</small>

                    <button type="submit" class="btn btn-dark mt-4 mb-4 w-100">Save</button>
                </form>
            </div>
        </div>

    </div>
  </section>
{% endblock OtherContent %}