{% extends "Base.html" %}
{% load static %}
{% block title %}Return & Refund{% endblock title %}

{% block OtherContent %}
    <div class="container" style="margin-top: 145px;">
        <h3>Return and Refund Policy for Raza Fragrances</h3>
        <p>Effective Date: February 20, 2024</p>
        <p>Thank you for shopping at Raza Fragrances. This document governs all returns and exchanges of Owes Mansuri (“127.0.0.1”) (as defined below). If, for any reason, you are not entirely satisfied with your purchase, we invite you to carefully review our Return and Refund Policy.</p>
        <h3>Definitions</h3>
        <p>For the purposes of this Return and Refund Policy we establish the following definitions:</p>
        <ul>
            <li>“Products” means all products and services sold at 127.0.0.1.</li>
            <li>“Customer” means end user customers that purchase directly from distributors or wholesalers.</li>
            <li>“Company” (referred to as either "the Company," "We," "Us," or "Our" in this Agreement) refers to Raza Fragrances</li>
            <li>“Orders” refers to your requests to purchase a Product from us.</li>
            <li>“Website” refers to Raza Fragrances, accessible at 127.0.0.1.</li>
            <li>“You” refers to the individual using our Service, or the company or legal entity on whose behalf such an individual is using the Service, as applicable.</li>
        </ul>
        <h3>What’s Raza Fragrances Return and Refund Policy?</h3>
            <p>We accept returns. You can return items purchased from Us within 7 days of the original purchase date, unless noted in our Return Policy Exceptions, and provided that they meet the following conditions:</p>
            <ul>
                <li>Product must be returned in its original packaging.</li>
                <li>Product isn&#39;t used or damaged.</li>
                <li>Product must have the receipt or proof of purchase.</li>
            </ul>
            <p>If 7 days or more have passed since your purchase, we cannot offer you a refund or an exchange.</p>
        <h3>Return & Refund Process</h3>
        <p>If your purchase is eligible for a return or exchange, please make sure that you follow the steps below to start the return process.</p>
        <ol>
            <li>
            <b>Notify us</b>
            <p>Please notify us as soon as possible of your intention to return or exchange an item. You can notify us:</p>
            <ul>
                <li>By email: owesmansuri50@gmail.com</li>
            </ul>
            <p>We will contact you via email if we have any questions or concerns regarding your Return & Refund request.</p>
            </li>
            <li>
            <b>Ship it back</b>
            <p>The following does not apply to the sale of digital products. If you purchased a digital product or service, please proceed to Step 3.</p>
            <p>Please ship the item(s) back to Us. You are responsible for the cost and risk associated with shipping the returned item(s) so make sure you use a reliable shipping company. Ship the item you wish to return to the following address:</p>
            <p>owesmansuri50@gmail.com</p>
            <p>We cannot be held responsible for items damaged or lost in transit, so please make sure you ask the shipping company for the proper tracking information when shipping your items.</p>
            </li>
            <li>
            <b>Inspection & Refund</b>
            <p>Upon receipt of the returned item, we will fully examine it and notify you via email, within a reasonable period of time, whether you are entitled to a return. If you are entitled to a return, we will refund your purchase price and a credit will automatically be applied to your original method of payment. If you requested an exchange, we’ll ship the replacement item to your address within 24 hours of processing your return.</p>
            </li>
        </ol>
        <p>To follow-up on the status of your return or for any other questions of inquiries, please contact us at:</p>
        <ul>
            <li>By email: owesmansuri50@gmail.com</li>
        </ul>
    </div>
{% endblock OtherContent %}