{% extends "Base.html" %}
{% load static %}
{% block css %}{% static "css/3.Login.css" %}{% endblock css %}
{% block title %}Reset Password{% endblock title %}
{% block OtherContent %}
<div class="container shadow Ec-Login-page">
    <h4 class="text-center g-font-Montserrat Ec-Login-hadding">Reset Password</h4>
    <form method ="POST" novalidate> {% csrf_token %}
        <div class="mb-4">
            {% for fm in form %}
                <div class="mb-5">
                    <i class="fa-solid fa-lock position-absolute mt-2 pt-1"></i>
                    {{fm}}
                    {% if fm.errors %}
                        <small class="text-danger">{{ fm.errors|striptags}}</small>  <br>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button class="btn btn-dark w-100 mb-4" type="submit">Next</button>
    </form>
  </div>
{% endblock OtherContent %}
{% block bottombar %}{% endblock bottombar %}