{% extends "Base.html" %}
{% load static %}
{% block css %}{% static "css/5.Empty Cart.css" %}{% endblock css %}
{% block title %}Empty Cart{% endblock title %}

{% block OtherContent %}
  <div class="container text-center">
    <img class="img-fluid Ec-Empty-img" src="{% static "images/shopping-bags.png" %}" alt="">
    <h3 class="mt-4 g-font-Montserrat">Your cart is empty.</h3>
    <button class="mt-4 btn btn-dark" onclick="window.location.href='{% url "Fragrance" %}'">Shop Now</button>
  </div>
{% endblock OtherContent %}

{% block bottombar %}{% endblock bottombar %}
