{% extends "Base.html" %}
{% load static %}
{% block css %}{% static "css/9.Change Password.css" %}{% endblock css %}
{% block title %}Change Password{% endblock title %}

{% block OtherContent %}

  <section class="Ec-Change-Password-Section">
    <div class="container pt-5 pb-5 mb-5 shadow Ec-Change-Password-container">
        <h4 class="text-center g-font-Montserrat mb-5">Change password</h4>

        {% if messages %}
          {% for msg in messages %}
            <p class="alert alert-success">{{msg}}</p>
          {% endfor %}
        {% endif %}

        <form method="POST" novalidate>
          {% csrf_token %}
            <div class="mb-5 pt-3">
                <i class="fa fa-key position-absolute z-3 pt-2"></i>
                {{form.old_password}}
                <small class="text-danger">{{form.old_password.errors}}</small>
            </div>
            <div class="mb-5">
                <i class="fa fa-lock position-absolute z-1 pt-2"></i>
                {{form.new_password1}}
                <small class="text-danger">{{form.new_password1.errors}}</small>
            </div>
            <div class="mb-5">
                <i class="fa fa-lock position-absolute z-1 pt-2"></i>
                {{form.new_password2}}
                <small class="text-danger">{{form.new_password2.errors}}</small>
            </div>
            <button type="submit" class="btn btn-dark w-100 mt-2">Save</button>

          </form>
    </div>
  </section>

{% endblock OtherContent %}

{% block bottombar %}{% endblock bottombar %}