.Ec-Change-Password-Section{
    padding-top: 170px;
}

.Ec-Change-Password-container{
    width: 35rem;
    padding: 0 40px;
}

.Ec-Change-Password-Section input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 0 28px;
    background: transparent;
}

.errorlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    font-size: 16px;
}

@media only screen and (max-width : 700px){
    .Ec-Change-Password-container{
        width: 93%;
        padding: 0 25px;
    }
   
}